[package]
name = "types"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
blake3 = "1"

# Used for canonical binary serialization of types when computing IDs.
bincode = "1"

[dev-dependencies]
proptest = "1"

